include head.pug
h1 About Riverside Rocks
p(style="width:60%") Hey, I'm Riverside Rocks, a backend developer with a passion for web security and development. I work in PHP, Bash, and MySQL. You can contact me by <a href="mailto:trent@riverside.rocks">trent@riverside.rocks</a> or on Discord by Riverside Rocks 🎃#5685. I also just to happen to run a <a href="//youtube.com/RiversideRocks">Youtube Channel</a>.
a(href="https://www.abuseipdb.com/user/47625")
  img(src="https://www.abuseipdb.com/contributor/47625.svg" height="100px" width="400")
br
a(href="/about/legal/") Legal
br
a(href="/about/hacking/") Hacking/Bug Bounty
br
h1 Coding History
p(style="width:60%") I've techinally been coding for a few years, but really only started getting serious in 2020. This page serves to show off some of my old (and quite bad) work.
h3 The Sratch Days
p(style="width:60%") I'm sure most readers have fond memories of Sratch (I certainly do!). My first big coding project was a game called Elemental Dash. The objective was to collect elements and aviod radioactive ones. Sadly, today it is broken due to changes in Sratch's engine, but I've left a link to the HTML version below.
a(href="https://cdn.riverside.rocks/a/manta-diagram-tithonia.html") HTML Version (compiled 1/30/21)
p(style="width:60%") I've also left links to some of my, well, no so great games as they are quite funny to look back on and play. Here are a few:
a(href="https://cdn.riverside.rocks/a/sombrero-guardian-riddle.html") Hirmit gets fat (compiled 1/30/21)
p(style="width:60%") While I was making this post, I decided to log into my old account (Hirmit1) and saw that people were actually commenting on one of my projects, specifically one known as <i>MR E (Try not to laugh)!!!!</i>. By FAR the worst project. It includes my voice, and wow is it ever awful to look back on. I took a quick look at some of the comments below:
a(href="https://cdn.riverside.rocks/a/pyroraptor-lunaria-germanium.mp4") Reading Scratch Comments