include head.pug
h1 Welcome to Riverside Rocks, #{username}!
h3 Before you create your account, let us get to know you.
strong Create a bio
form(method="post" class="w-400 mw-full")
    div(class="form-group")
        label(for="bio" class="required") Short Description
        input(type="text" class="form-control" id="bio" name="bio" placeholder="Hello! I am..." required="required")
    div(class="form-group")
        div(class="custom-checkbox")
            input(type="checkbox" id="agree-to-terms")
            label(for="agree-to-terms") I agree to all the #[a(href="/about/legal/" target="_blank" class="hyperlink") terms and conditions]
    input(class="btn btn-primary" type="submit" value="Submit")