include head.pug
script(src="/src/apiKeyReveal.js")
h1 Settings for #{username}
br
p Your current API key (do not share this): #[a href="#" onclick="showKey()"] Click to show
br
strong Bio
form(method="post" class="w-400 mw-full")
    div(class="form-group")
        label(for="bio" class="required")
        input(type="text" class="form-control" id="bio" name="bio" placeholder=current_bio required="required")
    div(class="form-group")
        div(class="custom-checkbox")
            input(type="checkbox" id="agree-to-terms" required="required")
            label(for="agree-to-terms") I agree to all the #[a(href="/about/legal/" target="_blank" class="hyperlink") terms and conditions]
    input(class="btn btn-primary" type="submit" value="Submit")