include head.pug
h1 Please select a user
br
div(class="form-group")
    label(for="full-name" class="required") Username
    input(type="text" class="form-control" id="uid" placeholder="RiversideRocks" required="required")