include head.pug
br
h1 #{type}
p Our moderators have decided to block your account. If you have a question or want to appeal, please contact us at trent@riverside.rocks
p(style="width:60%") Reason: #{rule}
br
Here are your past warnings:
div(class="warnings") #{Warnings}
br
strong To appeal, please contact us at trent@riverside.rocks or fill out <a href="GOOGLE FORM">this form</a>.
