include head.pug
link(href="/src/v1/client.css" rel="stylesheet")
br
h1 #{type}
p Access to our services has been blocked on this account. If you have a question or want to appeal, please contact us at trent@riverside.rocks
br
p(style="width:60%") Reason: #{rule}
br
div(class="warnings")
  p #{note}
br
strong To appeal, please contact us at trent@riverside.rocks or fill out <a href="https://forms.google.com">this form</a>.
