include head.pug
.page-wrapper.with-sidebar
  .sidebar
    .sidebar-menu
      a.sidebar-brand(href='https://riverside.rocks/' rel='noopener noreferrer' target='_blank') Riverside Rocks
      // Sidebar links and titles
      h5.sidebar-title Channels
      .sidebar-divider
        br
        button.btn.btn-primary(type='button') #general
        br
        br
        button.btn(type='button') #YouTube
        br
        br
        button.btn(type='button') #Technology
  .content-wrapper
    h2(style='padding-left:10px;') #general
br
      strong(style='font-size:15px;') LankyBox01: 
      span(style='font-size:15px;') Henlo
br
      strong(style='font-size:15px;') RiversideRocks: 
      span(style='font-size:15px;') Henlo
br
      strong(style='font-size:15px;') Eddiestech: 
      span(style='font-size:15px;') Nice design!
br
      strong(style='font-size:15px;') Code-alt: 
      span(style='font-size:15px;') Henlo
br
      strong(style='font-size:15px;') LankyBox01: 
      span(style='font-size:15px;') Yeet boi