include head.pug
h1 #{username} - Pebble Breakdown
table(class="table")
    thead
        tr
            th Event
            th Reward
    tbody
        tr
            th Messages
            th + #{message}
    tbody
        tr
            th Account Age
            th + #{join}
    tbody
        tr
            th Total
            th #{total}
