include head.pug
br
h1 Chat with your friends in one place
img(src="https://riverside.rocks/assets/serve/production/app/5faf2de8c1f1e.png" height="50%" width="75%")
a(href="/account/login/")
    button(class="btn btn-success" id="channel_option" type="button" style="margin-left:10px;margin-bottom:10px;") Sign Up / Log In