include head.pug
br
h1 Create a Group DM
p Nice we just created your own group message! Share a[href=url this link] with anyone you want to join your DM.
br
a(href=url)
    button(class="btn btn-success" type="button") Join DM