include head.pug
br
h1 Chat with your friends in one place
// I hate not using pug, but I use HTML for the message tag as pug and images are weird

h3 #{sent} messages sent and #{users} served!
a(href="/account/login/")
    button(class="btn btn-success" id="channel_option" type="button" style="margin-left:25px;margin-bottom:25px;") Sign Up / Log In
br
<img src="https://riverside.rocks/assets/serve/production/app/5faf2de8c1f1e.png" height="50%" width="75%" style="border:2px solid white;" />