include head.pug
br
h1 Docs + Help Articles
div(class="card"): h2(class="card-title") API Docs
    a(href="/help/API" class="btn") Visit
div(class="card"): h2(class="card-title") Errors + Troubleshooting
    a(href="/help/Errors" class="btn") Visit
div(class="card"): h2(class="card-title") Wiki
    a(href="//wiki.riverside.rocks" class="btn") Visit