include head.pug
br
script(src="https://js.pusher.com/7.0/pusher.min.js")
script(src="/src/v1/client.js")
script(src="/code/production/cred.js")
p(id="m" style="width:70%")
textarea(id="mess")
button(onclick="form();") Send