include head.pug

<div class="card">
    <h2 class="card-title">Almost ready!</h2>
    <p>A new community forum design will be released in a few days, be ready! We&apos;ll do some cool hecker coding and then it will be good as new!</p>
</div>
