include head.pug
br
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="/src/console.js")
link(href="/src/client-console.css" rel="stylesheet")
div(class="chat" id="chat" style="overflow:hidden;")
    h1 #{os} - #{mod}
    | !{copyright}
    p(id="m" style="width:70%")
input(id="mess" style="width:70%")
//button(class="btn btn-success" id="channel_option" type="button" style="margin-left:10px;margin-bottom:10px;" onclick="uploadFile()") Upload an Image
br