include head.pug
center
br
h1 Contact
p If you have any issues with the website, don't hesitate to contact us with the form below!
br
br
p name:
input(id="name")
br
p email:
input(id="email")
br
p message:
input(id="message")
br
br
button Send
