include head.pug
br
h1 Welcome back, #{username}!
a(href="/app/" style="font-size:16px;") Chat
br
a(href="/account/welcome" style="font-size:16px;") Settings
br
a(href=url style="font-size:16px;") Public Profile
br
a(href="/account/signout" style="font-size:16px;") Signout