include head.pug
br
h1 Delete all uploaded assets?
p Are you sure you want to delete all assets uploaded to this server?
form(method="POST")
    p API key
    input(type="text" name="key" value="")
    input(type="submit" value="Delete")