script(src="https://cdn.jsdelivr.net/npm/planetary.js@1.1.3/dist/planetaryjs.min.js")
script(src="/src/threats.js")
canvas(id='rotatingGlobe' width='400' height='400' style='width: 400px; height: 400px; cursor: move;')