include head.pug
br
h1 Hacking/Bug Bounty
div(class="content" style="width:80%")
  p Hello! Since your are on this page, you probably want to try out some hacks on our site. Here are a few things to note:
  ol
    li Please don't hack this site without permission. If you want to search for bugs, please contact us at trent@riverside.rocks.
    li Bruteforcing our SSH is off limits. We have software to prevent SSH bruteforce attacks. Do not try to connect to it, if you do, your IP will end up on a list.
    li Right now, we don't give monetary rewards to successfully reported bugs, but if your report is valid, we will give you perks on the website or on our Discord server.
  p If you would like to help code this site, click
  a(href="https://github.com/RiversideRocks/web-riverside") here.
