include head.pug
br
h1 What we report to AbuseIPDB.com
div(class="content" style="width:80%")
  p We report the following activity to AbuseIPDB.com:
  ul
    li Hacking Attempts on port 80/443 (TCP) (Looking for exploits, ie. GET /wp-admin/ or brute force, ie POST /wp-login.php)
    li Connections to port 8080 (TCP) (Scans/Any connection)
    li Connections to port 3000 (TCP) (Scans/Any connection)
    li Connections to port 443/80 (TCP) (w/ no/invalid host header)
    li Connections to port 53 (UDP) (Scans/Any connection)
    li Connections to port 8000 (TCP) (Scans/Any connection)
    li Hacking Attempts on Port 22 (TCP) (Scans/SSH Brute Force)
    li Hacking Attempts on Port 23 (TCP) (Scans/Telnet Brute Force)
  p If you have noticed your IP on AbuseIPDB and it has been reported by us, please contact us (click the contact button on the menu).

h1 Hacking/Bug Bounty
div(class="content" style="width:80%")
  p Hello! Since your are on this page, you probably want to try out some hacks on our site. Here are a few things to note:
  ol
    li Please don't hack this site without permission. If you want to search for bugs, please contact us.
    li Bruteforcing our SSH is off limits. We have software to prevent SSH bruteforce attacks. Do not try to connect to it, if you do, your IP will end up on a list.
    li Right now, we don't give monetary rewards to successfully reported bugs, but if your report is valid, we will give you perks on the website or on our Discord server.
  p If you would like to help code this site, click
  a(href="https://github.com/RiversideRocks/web-riverside" style="display:inline")  here.
