include head.pug
script(src="/src/confirm.js")
center
br
h1 Welcome to Riverside Rocks!
a(href="/about/"): button(class="btn btn-primary" type="button" style="margin-left:10px") About
a(href="/projects/"): button(class="btn btn-primary" type="button" style="margin-left:10px") Projects
a(href="//github.com/RiversideRocks/web-riverside"): button(class="btn btn-primary" type="button" style="margin-left:10px") GitHub
br
a(href="/about/stats/") View the Statistics
br
if (user)
    p Signed in as #[a(href=profile target="_blank") #{user} ]
if(github)
    p #{github}
br

h3 Privacy Services

a(href="https://inv.riverside.rocks") Invidious
a(href="https://lr.riverside.rocks") Libreddit

br
img(src="https://cdn.riverside.rocks/a/warlock-tire-albacore.png")
img(src="https://cdn.riverside.rocks/a/rayon-harmony-thistle.png" style="margin-left:10px")
