include head.pug
center
br
h1 Welcome to Riverside Rocks!
h4 Web Developer and Computer Programmer
a(href="/about/"): button(class="btn btn-primary" type="button") About
a(href="/projects/"): button(class="btn btn-primary" type="button") Projects
a(href="//github.com/RiversideRocks/web-riverside"): button(class="btn btn-primary" type="button") GitHub