include head.pug
br
h1 #{large_message}
h3 Our system has detected unauthorized behavior from your IP address (#{ip}).
p Reason: #{details}
br
i To appeal this ban, contact us at support@riverside.rocks.
