include head.pug
script(src="/src/ban.js")
br
h1 #{large_message}
h3 Our system has detected unauthorized behavior from your IP address (#{ip}).
h4 Reason: #{details}
br
p To appeal this ban, contact us at support@riverside.rocks.
