include head.pug
br
h1 Legal
h2 Terms of Service
p(style="width:60%") This is the Terms of Services for all Riverside Rocks services (the "Services" or "services"). By using our services, you agree to these terms in their entirety.
h3 Guidelines
ol
  li Do not upload or send spam content.
  li Do not harras anyone using or building our services.
  li Abide by all laws from your locale and our server location (United States)
  li Do not upload 18+ content to our services
  li Do not attempt to execute "hacks" or search for backdoors/vulnurabilites without permission.
    p If you would like to conduct such exploits, please view our 
    a(href="/about/hacking" style="display:inline") policies on doing so.
  li Do not attempt to DDoS, DoS, or send mass requests to our services. 
    p We work with Internet Service Providers (ISPs) and webhosting companies to take down bad actors.
  li Do not break the rules of the Service on behalf of anyone or anything.
  li You consent to having any of your content removed at any time, for any reason.

h3 You
ul
  li Our users have the absolute right to request their data removed from our servers at any time for any reason.
    p Contact us at trent@riverside.rocks for removal requests.

h3 Privacy
p(style="width:60%") At Riverside Rocks, we take your privacy seriously. We don't sell your data and don't plan on doing so. We may collect IPs and User Agents to fight hacking attempts and spam. We use ip-api.com to convert IPs to countries, this is for analytics. We also use 
a(href="https://simpleanalytics.com/" style="display:inline")
Simple Analytics on some of our sites. However, by using our site, you allow use to user your username and any details about your account in promotional materials or any other mediums.
h4 Use of cookies
p By using our services, you consent to all cookie use.
    ul
      li Analytical
        p These are cookies used to give us insights on traffic and usage and are from Simple Analytics or YouTube (if you are on a site that embeds videos.) These don't appear on all of our sites.
      li Service
        p You may see cookies that determine whether you have seen a popup or whether you prefer dark mode or light mode. 
br
i Last updated 12/10/20.
br
a(href="http://web.archive.org/web/*/https://riverside.rocks/about/legal") Archive
