include head.pug
h1 Projects
h5 Here is a list of neat projects I have created/worked on.
div(class="card"): h2(class="card-title") Dangerous User DB 
  p A website to check on and report dangerous discord users.
    a(href="//discord.riverside.rocks" class="btn") Visit

div(class="card"): h2(class="card-title") Dangerous User DB
  p A bot to check on and report dangerous discord users.
    a(href="https://discord.com/oauth2/authorize?client_id=764485265775263784&scope=bot&permissions=3072" class="btn") Invite

div(class="card"): h2(class="card-title") Dangerous User DB Discord Bot
  p A bot to check on and report dangerous discord users.
    a(href="https://discord.com/oauth2/authorize?client_id=764485265775263784&scope=bot&permissions=3072" class="btn") Invite

div(class="card"): h2(class="card-title") Glitch Support Forum
  p I help out people on the Glitch Support community!
    a(href="https://support.glitch.com/u/RiversideRocks" class="btn") Visit
