include head.pug
h1 Projects
h5 Here is a list of neat projects I have created/worked on.
div(class="card"): h2(class="card-title") Dangerous User DB 
  p A website + bot to check on and report dangerous discord users.
  div(class="text-right"): a(href="//discord.riverside.rocks" class="btn")
