include head.pug
h1 Projects
h5 Here is a list of neat projects I have created/worked on.
div(class="content")
  h2(class="content-title") Dangerous User DB
    p A site + Discord bot to report and check bad Discord users.
