include head.pug
h1 Server Status
br
h3 Andromeda (New York/19.187.89.159.in-addr.arpa.riverside.rocks)
p Inbound Data
img(src="https://external-hit.riverside.rocks/http://vps.riverside.rocks/bandwidthd/Total-3-R.png")
p Outbound Data
img(src="https://external-hit.riverside.rocks/http://vps.riverside.rocks/bandwidthd/Total-3-S.png")
br
h3 HQ (New York)
br
p Inbound Data
img(src="https://external-hit.riverside.rocks/http://irc.riverside.rocks/bandwidthd/Total-3-R.png")
p Outbound Data
img(src="https://external-hit.riverside.rocks/http://irc.riverside.rocks/bandwidthd/Total-3-S.png")
br
