include head.pug
link(data-name="vs/editor/editor.main" href="https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/editor/editor.main.css" rel="stylesheet")
br
h1 Introducing Static Analytics 
p Stop messing around with databases and Google Analytics! 
img(src="https://cdn.riverside.rocks/a/date-anorak-prawn.png")
br
div(id="editor")