include head.pug
br
h1 Introducing Static Analytics 
p Stop messing around with databases and Google Analytics! 
img(src="https://cdn.riverside.rocks/a/date-anorak-prawn.png")
br
pre
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-sha256@0.9.0/src/sha256.min.js"></script>
  <script src="https://cdn.riverside.rocks/static/sa.min.js"></script>
