meta(name="title" content="Riverside Rocks")
meta(name="description" content="Website of Riverside Rocks, a fine web developer!")

meta(property="og:type" content="website")
meta(property="og:url" content="https://riverside.rocks")
meta(property="og:title" content="Riverside Rocks")
meta(property="og:description" content="Website of Riverside Rocks, a fine web developer!")
meta(property="og:keywords" content="Web, coding, developer, website, riverside, riverside rocks, rocks riverside, rocks, river")
meta(property="og:image" content="https://avatars0.githubusercontent.com/u/59586759?s=460&u=3a65147e9589b116e6724773ea10e9773ac7c682&v=4")

meta(property="twitter:card" content="summary_large_image")
meta(property="twitter:url" content="https://riverside.rocks")
meta(property="twitter:title" content="Riverside Rocks")
meta(property="twitter:description" content="Website of Riverside Rocks, a fine web developer!")
meta(property="twitter:image" content="https://avatars0.githubusercontent.com/u/59586759?s=460&u=3a65147e9589b116e6724773ea10e9773ac7c682&v=4")
