include head.pug
script(src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js")
script(src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js")
script(src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js")
script(src="/src/video.min.js")
script
    const room = #{room}
    