<!DOCTYPE html>
	<!--[if IE 8]>
		<html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="en-US">
	<![endif]-->
	<!--[if !(IE 8) ]><!-->
		<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
	<!--<![endif]-->
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Log In</title>
	<link rel='dns-prefetch' href='//s.w.org'/>
<link rel='stylesheet' id='dashicons-css' href='https://riverside.rocks/assets/serve/production/app/5fb6b11a63647.css' type='text/css' media='all'/>
<link rel='stylesheet' id='buttons-css' href='https://riverside.rocks/assets/serve/production/app/5fb6b1432d56f.css' type='text/css' media='all'/>
<link rel='stylesheet' id='forms-css' href='https://riverside.rocks/assets/serve/production/app/5fb6b15ed2346.css' type='text/css' media='all'/>
<link rel='stylesheet' id='l10n-css' href='https://riverside.rocks/assets/serve/production/app/5fb6b1a964ac8.css' type='text/css' media='all'/>
<link rel='stylesheet' id='login-css' href='https://riverside.rocks/assets/serve/production/app/5fb6b1cd482cb.css' type='text/css' media='all'/>
	<meta name='robots' content='noindex,noarchive'/>
	<meta name='referrer' content='strict-origin-when-cross-origin'/>
		<meta name="viewport" content="width=device-width"/>
		</head>
	<body class="login login-action-login wp-core-ui  locale-en-us">
		<div id="login">
		<h1><a href="https://wordpress.org/">Powered by WordPress</a></h1>
	
	<form name="loginform" id="loginform" action="/wp-login.php" method="post">
	<p>
		<label for="user_login">Username or Email Address<br/>
		<input type="text" name="log" id="user_login" class="input" value="" size="20" autocapitalize="off"/></label>
	</p>
	<p>
		<label for="user_pass">Password<br/>
		<input type="password" name="pwd" id="user_pass" class="input" value="" size="20"/></label>
	</p>
			<p class="forgetmenot"><label for="rememberme"><input name="rememberme" type="checkbox" id="rememberme" value="forever"/> Remember Me</label></p>
	<p class="submit">
		<input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="Log In"/>
				<input type="hidden" name="redirect_to" value="/wp-admin/"/>
					<input type="hidden" name="testcookie" value="1"/>
	</p>
	</form>

			<p id="nav">
					<a href="/wp-login.php?action=lostpassword">Lost your password?</a>
				</p>
	
	<script type="text/javascript">function wp_attempt_focus(){setTimeout(function(){try{d=document.getElementById('user_login');d.focus();d.select();}catch(e){}},200);}wp_attempt_focus();if(typeof wpOnload=='function')wpOnload();</script>

			<p id="backtoblog"><a href="https://riverside.rocks">
		&larr; Back to Riverside Rocks	</a></p>
			
	</div>

	
		<div class="clear"></div>
	<script>if(window.parent==window){(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-108469994-1','auto',{'siteSpeedSampleRate':100});ga('send','pageview');}</script></body>
	</html>
	
