/* please give credit when using :P */
/* add other things here */

/* headers */
h1 {
  margin: 2;
}
h2 {
  margin: 2;
}
h3 {
  margin: 2;
}
h4 {
  margin: 2;
}
h5 {
  margin: 2;
}
h6 {
  margin: 2;
}

/* text & fonts */
p {
  margin: 2;
}
font {
  margin: 2;
}
