div.chat{
    overflow: scroll;
    width: 75%;
    height: 300px;
}

.warnings {
  border: 2px solid grey;
  border-radius: 2px;
  background-color: lightgrey;
  padding: 10px;
  width: 500px;
}

button{
  margin-left:10px;
  margin-bottom:10px;
}