div.chat{
    overflow: scroll;
    width: 75%;
    height: 300px;
        -webkit-animation-name: move;
    	-webkit-animation-duration: 4s;
    	-webkit-animation-iteration-count: infinite;
    	-webkit-animation-direction: down;
    	-webkit-animation-timing-function: linear;
}

.warnings {
  border: 2px solid grey;
  border-radius: 2px;
  background-color: lightgrey;
  padding: 10px;
  width: 500px;
}

button{
  margin-left:10px;
  margin-bottom:10px;
}